<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="js/jquery.js"></script>
        <script src="js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="css/estilos.css">
    </head>
    <body>
        <div data-th-fragment="mapasitio">
            <br />
            <input class="form-control border-primary-subtle bg-primary-subtle" type="search" placeholder="Buscar ..." id="inputBusqueda"  aria-label="Search" >
            <div class="search" id="search">
                <table class="search-table" id="searchTable">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a class="opcionBuscador" data-th-href="@{/inicio}">Inicio</a></td>
                        </tr>
                        <tr>
                            <td><a class="opcionBuscador" data-th-href="@{/libros/}">Libros</a></td>
                        </tr>
                        <tr>
                            <td><a class="opcionBuscador" data-th-href="@{/libros/categorias}">Categorías</a></td>
                        </tr>
                        <tr>
                            <td><a class="opcionBuscador" data-th-href="@{/librerias}">Librerías</a></td>
                        </tr>
                        <tr>
                            <td><a class="opcionBuscador" data-th-href="@{/usuarios}">Usuarios</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <h4>Sobre nosotros</h4>
            <!--mapa del sitio-->
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" data-th-href="@{/mapaSitio}" >Mapa del sitio</a>
                    <a class="nav-link" data-th-href="@{/contactanos}" >Contactanos</a>
                    <a class="nav-link" data-th-href="@{/ayuda}" >Ayuda</a>
                </nav>
            </nav>

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">Juan R.</strong>
                        <small>Hace 11 minutos</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hola, de casualidad tienen el libro de El señor de los anillos?.
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="js/buscador.js"></script>
    </body>
</html>
